<FilesMatch "\.(txt|log|json|config|ini|sql|docx|pdf|csv|doc|md|lock|gitignore|htaccess)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>


RewriteEngine On

RewriteRule ^Service/v1/Users/register$ utente/add_user.php [L]
RewriteRule ^Service/v1/Users/update$ utente/update_user.php [L]
RewriteRule ^Service/v1/Users/delete$ utente/delete_user.php [L]


	
RewriteRule ^Service/v1/Notes/create$ nota/add_note.php [L]
RewriteRule ^Service/v1/Notes/edit-title$ nota/edit_note_title.php [L]
RewriteRule ^Service/v1/Notes/edit-body$ nota/edit_note_body.php [L]
RewriteRule ^Service/v1/Notes/delete$ nota/delete_note.php [L]
RewriteRule ^Service/v1/Notes$ nota/fetch_notes.php [L]
RewriteRule ^Service/v1/Notes/fetch-by-id$ nota/fetch_single_note.php [L]
RewriteRule ^Service/v1/Notes/share$ nota/share_note.php [L]
RewriteRule ^Service/v1/Notes/unshare$ nota/unshare_note.php [L]



RewriteRule ^Service/v1/Notepads/create$ blocco/add_notepad.php [L]
RewriteRule ^Service/v1/Notepads/edit-title$ blocco/edit_notepad_title.php [L]
RewriteRule ^Service/v1/Notepads/edit-body$ blocco/edit_notepad_description.php [L]
RewriteRule ^Service/v1/Notepads/delete$ blocco/delete_notepad.php [L]
RewriteRule ^Service/v1/Notepads$ blocco/fetch_notepads.php [L]
RewriteRule ^Service/v1/Notepads/fetch-by-id$ blocco/fetch_single_notepad.php [L]
RewriteRule ^Service/v1/Notepads/share$ blocco/share_notepad.php [L]

Options -Indexes