<FilesMatch "\.(txt|log|json|config|ini|sql|docx|pdf|csv|doc|md|lock|gitignore|htaccess)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>


RewriteEngine On

RewriteRule ^Service/v1/user/register$ utente/add_user.php [L]
RewriteRule ^Service/v1/user/update$ utente/update_user.php [L]
RewriteRule ^Service/v1/user/delete$ utente/delete_user.php [L]

RewriteRule ^Service/v1/notes/create$ nota/add_note.php [L]
RewriteRule ^Service/v1/notes/edit_title$ nota/edit_note_title.php [L]
RewriteRule ^Service/v1/notes/edit_body$ nota/edit_note_body.php [L]
RewriteRule ^Service/v1/notes/delete$ nota/delete_note.php [L]
RewriteRule ^Service/v1/notes/show_all$ nota/fetch_notes.php [L]
RewriteRule ^Service/v1/notes/show_one$ nota/fetch_single_note.php [L]

RewriteRule ^Service/v1/notepads/create$ blocco/add_notepad.php [L]
RewriteRule ^Service/v1/notepads/edit_title$ blocco/edit_notepad_title.php [L]
RewriteRule ^Service/v1/notepads/edit_description$ blocco/edit_notepad_description.php [L]
RewriteRule ^Service/v1/notepads/delete$ blocco/delete_notepad.php [L]
RewriteRule ^Service/v1/notepads/show_all$ blocco/fetch_notepads.php [L]
RewriteRule ^Service/v1/notepads/show_one$ blocco/fetch_single_notepad.php [L]

Options -Indexes